# Importing Libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

# Importing Datasets

In [3]:
dataset=pd.read_csv("train.csv")
dataset

,id,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,0000997932d777bf,Explanation\nWhy the edits made under my usern...,0,0,0,0,0,0
1,000103f0d9cfb60f,D'aww! He matches this background colour I'm s...,0,0,0,0,0,0
2,000113f07ec002fd,"Hey man, I'm really not trying to edit war. It...",0,0,0,0,0,0
3,0001b41b1c6bb37e,"""\nMore\nI can't make any real suggestions on ...",0,0,0,0,0,0
4,0001d958c54c6e35,"You, sir, are my hero. Any chance you remember...",0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
159566,ffe987279560d7ff,""":::::And for the second time of asking, when ...",0,0,0,0,0,0
159567,ffea4adeee384e90,You should be ashamed of yourself \n\nThat is ...,0,0,0,0,0,0
159568,ffee36eab5c267c9,"Spitzer \n\nUmm, theres no actual article for ...",0,0,0,0,0,0
159569,fff125370e4aaaf3,And it looks like it was actually you who put ...,0,0,0,0,0,0
159570,fff46fc426af1f9a,"""\nAnd ... I really don't think you understand...",0,0,0,0,0,0

In [4]:
dataset.describe()

,toxic,severe_toxic,obscene,threat,insult,identity_hate
count,159571.000000,159571.000000,159571.000000,159571.000000,159571.000000,159571.000000
mean,0.095844,0.009996,0.052948,0.002996,0.049364,0.008805
std,0.294379,0.099477,0.223931,0.054650,0.216627,0.093420
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [5]:
dataset.cov()

,toxic,severe_toxic,obscene,threat,insult,identity_hate
toxic,0.086659,0.009038,0.044596,0.002527,0.041292,0.007316
severe_toxic,0.009038,0.009896,0.008978,0.000672,0.008098,0.001874
obscene,0.044596,0.008978,0.050145,0.001728,0.035959,0.006001
threat,0.002527,0.000672,0.001728,0.002987,0.001776,0.000588
insult,0.041292,0.008098,0.035959,0.001776,0.046927,0.006835
identity_hate,0.007316,0.001874,0.006001,0.000588,0.006835,0.008727

In [6]:
dataset.corr()

,toxic,severe_toxic,obscene,threat,insult,identity_hate
toxic,1.000000,0.308619,0.676515,0.157058,0.647518,0.266009
severe_toxic,0.308619,1.000000,0.403014,0.123601,0.375807,0.201600
obscene,0.676515,0.403014,1.000000,0.141179,0.741272,0.286867
threat,0.157058,0.123601,0.141179,1.000000,0.150022,0.115128
insult,0.647518,0.375807,0.741272,0.150022,1.000000,0.337736
identity_hate,0.266009,0.201600,0.286867,0.115128,0.337736,1.000000

In [8]:
dataset.isnull().any()

id               False
comment_text     False
toxic            False
severe_toxic     False
obscene          False
threat           False
insult           False
identity_hate    False
dtype: bool

# Label Encoding

In [9]:
from sklearn.preprocessing import LabelEncoder
labelencoder_y=LabelEncoder()
dataset['comment_text']=labelencoder_y.fit_transform(dataset['comment_text'])

In [10]:
x=dataset.iloc[:,0:2]
y=dataset.iloc[:,2:8]

In [11]:
x

                      id  comment_text
0       0000997932d777bf         72696
1       000103f0d9cfb60f         68357
2       000113f07ec002fd         79592
3       0001b41b1c6bb37e         35519
4       0001d958c54c6e35        146426
...                  ...           ...
159566  ffe987279560d7ff         44289
159567  ffea4adeee384e90        145720
159568  ffee36eab5c267c9        122203
159569  fff125370e4aaaf3         60035
159570  fff46fc426af1f9a         31106

[159571 rows x 2 columns]

In [12]:
y

        toxic  severe_toxic  obscene  threat  insult  identity_hate
0           0             0        0       0       0              0
1           0             0        0       0       0              0
2           0             0        0       0       0              0
3           0             0        0       0       0              0
4           0             0        0       0       0              0
...       ...           ...      ...     ...     ...            ...
159566      0             0        0       0       0              0
159567      0             0        0       0       0              0
159568      0             0        0       0       0              0
159569      0             0        0       0       0              0
159570      0             0        0       0       0              0

[159571 rows x 6 columns]